@import "../fonts/iconfont.css";
@import "../antd-fonts/iconfont.css";
@import "./component.less";
@import "./position.less";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f4f7ed;
  font-family: PingFangSC-Semibold;
}

// scrollbar
::-webkit-scrollbar-thumb {
  background-color: rgb(50, 123, 207);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}



/** 重定义 end **/

//重定义 placeholder


@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  font-size: 12px;
}

