.img-detail{
  background-color: white;
  height: 800px;
  .part{
    height: 230px;
    text-align: center;
    vertical-align: middle;
    i{
      font-size: 3.2em;
      line-height: 180px;
      color: #408ee6;
    }
    p{
      margin-top: -40px;
    }
  }
}