.img-detail {
  background-color: white;
  height: 800px;
  padding: 0 20px;
  .part {
    height: 230px;
    text-align: center;
    vertical-align: middle;

    div {
      font-size: 0.8em;
      margin-top: -40px;
      color: #69717a;
    }
    i {
      font-size: 3.2em;
      line-height: 180px;
      color: #408ee6;
    }

    p {
      text-align: left;
      color: #596268;
      margin-bottom: 10px;
      font-size: 0.7em;
    }
    .collect{
      color: #a3aaae;
      margin-top: 40px;
      i{
        font-size: 1.7em;
        cursor: pointer;
        &:hover{
          color: #408ee6;
        }
      }
      span{
        margin-top: -70px;
        font-size: 0.9em;
      }
    }
  }

}
.img-list{
  padding: 0 20px;
  .seriesTB{
    background-color: white;
    margin-top: 20px;
  }

}