body {
  min-width: 1280px;
}

.mybtn {
  border: none;
  width: 100%;
  height: 34px;
  background: #fff;
  font-size: 1.4em;
  outline: none;
}

.mybtn:hover, .mybtn:active {
  //color: #408ee6;
  color: #fff;
  background: #408ee6;
  border-radius: 100px;
}

.clearfix {
  clear: both;
}

.imageCenter {
  position: relative;
  .tab{
    margin-top: 15px;
    margin-left: 8px;
  }
  .tools {
    position: absolute;
    top: 4px;
    right: 10px;
    .tool {
      margin-left: 10px;
    }
    .ant-calendar-picker {
      margin-left: 10px;
    }
  }
  .image-tab .ant-tabs-tab {
    font-size: 1.15em;
  }
  .page-area {
    padding: 10px;
    .ant-pagination {
      float: right;
    }
  }
}