.container {
  //background-image: url('../../assets/img/background.jpg');
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-size: cover;
  background-color: #eeeeee;
  //overflow: hidden;
  padding: 20px;
  width: 100%;
  border: 1px solid white;
  height: 1200px;
  .box{
    margin-top: 30px;
    width: 90%;
    margin: 20px;
  }
  .showId{
    width: 100%;
    text-align: center;
    font-size: 16px;
  }


}
.testAPI{
  border: 1px salmon solid;
  height: 500px;
  width: 500px;
}


